body{width: 100%; height: 100%; background-color: black}


.a{width: 100%; height: 100%}
.a-1{width: 100%; height: 100%; background-image: url(./img/1.png);}
.b{position: absolute; top: 22%; left: 10%; width: 59%;}
.c{position: absolute; top: 0%; left: 0%; width: 35%;}
.d{position: absolute; top: 7%; left: 14%; width: 40%;}
.e{position: absolute; bottom: 0%; left: 0%; width: 12%;}
.f{position: absolute; bottom: 0%; right: 0%; width: 30%;}
.g{position: absolute; bottom: 3%; right: 16%; width: 31%;}
.h{position: absolute; bottom: 23%; left: 5%; width: 11%; }
.p{color: white; font-size: 3.5rem; 
	font-family: 'Noto Serif KR', serif; font-weight: 200;}
.p1{position: absolute; bottom: 51%; left: 40%; color: white; font-size: 2em; 
	font-family: 'Noto Serif KR', serif; font-weight: 200;}
.p2{position: absolute; bottom: 2%; left: 5%; color: #666666; font-size: 0.85em; 
	font-family: 'Noto Serif KR', serif; font-weight: 200; line-height: 1.8; text-align: center;}
.i{position: absolute; top: 10%; right: 10%; width: 10%;}
.j{position: absolute; top: 2%; left: 2%; width: 20%}
.k{position: absolute; top: 2%; right: 0.5%; width: 33%}


@-webkit-keyframes rotate {
from {transform: rotate(0deg);}
to {transform: rotate(160deg);}
}


#r{-webkit-animation:rotate-center 2s steps(7,start) 
	infinite both;animation:rotate-center 4s steps(7,start) infinite both}

#v{animation:vibrate-1 5s linear infinite both}

#t{overflow: hidden;  animation: (typing 8s) steps(30) infinite; transform: ; 
  font-size: 3em;
  white-space: nowrap;
  color: white;
  margin: 0;
  position: absolute;
  top: 37%;
  left: 42%;}

(#r2){-webkit-animation:rotate 4s steps(10,start) 
  infinite both;animation:rotate 4s steps(10,start) infinite both}


@keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-7px,7px)}
40%{transform:translate(-7px,-7px)}60%{transform:translate(2px,2px)}
80%{transform:translate(7px,-7px)}100%{transform:translate(0)}}



@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%
{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center
{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%
{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center
{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}


@keyframes typing {
  0% {
    width: 0%;
  }
  25% {
    width: 22%;
  }
  0% {
    width: 0%;
  }
}